
.navbar {
  position: relative;
  /* Other styles, if any */
}
@media (min-width: 768px) {
  .modalmenu {
    /* left: unset; Reset left value */
    right:0;
    left
  }
}

/* Move modal options to the right for smaller devices */
@media (max-width: 767px) {
  .modalmenu  {
    left: 0;
    right:unset;
  }
}
/* styles.css */

/* Common styles for both cards */

@media (max-width: 767px) {
  /* Media queries for smaller screens */
  .card1-body {
    flex-wrap: wrap;
  }

  .card1-body img {
    flex: 1;
    margin: 5px;
    max-width: calc(50% - 10px); /* Ensure two images per row with some spacing */
  }

  .card2-row {
    flex-direction: column;
  }

  .card2-img,
  .card2-content {
    width: 100%;
    background-color:white;
  }
}

.comcard-container {
  margin-bottom: 20px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 8px;
   background: white; /*Set background color to white */
}

.card-header {
  background: lightblue;
  padding: 10px;
}

/* Styles for Card 1 */
.card1-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.card1-body img {
  height: 100px;
  width: 100px;
  margin-right: 10px;
}

.card1-blockquote {
  margin: 20px;
}

/* Styles for Card 2 */
.card2-row {
  display: flex;
}

.card2-img {
  flex: 1;
  padding: 20px;
}

.card2-content {
  flex: 2;
  padding: 20px;
}

.card2-content img {
  width: 100%;
}

/* Text color white */
.text-spl {
  color: chocolate;
}
/* Example CSS for BenefitsSection */

.isection {
  padding: 40px;
  background-color: #f8f9fa; /* Light gray background color */
  border-radius: 8px;
}

h2 {
  text-align: center;
  color: #007bff; /* Blue color for heading */
}

.benefits-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.benefit {
  max-width: 300px;
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 0 10px;
}

h3 {
  color: #28a745; /* Green color for benefit titles */
}

p {
  color: #333; /* Dark text color */
}

@media (max-width: 767px) {
  .benefits-container {
    flex-direction: column;
    align-items: center; /* Optional: Center the items in the column */
  }

  .benefit {
    margin: 0 0 20px; /* Add margin at the bottom for space between items */
  }
}
a {
  cursor: pointer;
}
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value to change the transparency */
  z-index: 9999999; /* Set a z-index higher than other content */
}
.loader-container {
  position: fixed; /* Ensure the loader container stays fixed within the viewport */
  top: 50%; /* Position the loader container vertically centered */
  left: 50%; /* Position the loader container horizontally centered */
  transform: translate(-50%, -50%); /* Center the loader container perfectly */
  z-index: 999999; /* Set a high z-index to ensure it appears above other elements */
}

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  color: green;
}

.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader:after {
  color: #FF3D00;
  transform: rotateY(70deg);
  animation-delay: .4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}
