
.navbar {
  position: relative;
  /* Other styles, if any */
}
@media (min-width: 768px) {
  .modalmenu {
    /* left: unset; Reset left value */
    right:0;
    left
  }
}

/* Move modal options to the right for smaller devices */
@media (max-width: 767px) {
  .modalmenu  {
    left: 0;
    right:unset;
  }
}
/* styles.css */

/* Common styles for both cards */

@media (max-width: 767px) {
  /* Media queries for smaller screens */
  .card1-body {
    flex-wrap: wrap;
  }

  .card1-body img {
    flex: 1;
    margin: 5px;
    max-width: calc(50% - 10px); /* Ensure two images per row with some spacing */
  }

  .card2-row {
    flex-direction: column;
  }

  .card2-img,
  .card2-content {
    width: 100%;
  }
}

.card-container {
  margin-bottom: 20px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: white; /* Set background color to white */
}

.card-header {
  background: lightblue;
  padding: 10px;
}

/* Styles for Card 1 */
.card1-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.card1-body img {
  height: 100px;
  width: 100px;
  margin-right: 10px;
}

.card1-blockquote {
  margin: 20px;
}

/* Styles for Card 2 */
.card2-row {
  display: flex;
}

.card2-img {
  flex: 1;
  padding: 20px;
}

.card2-content {
  flex: 2;
  padding: 20px;
}

.card2-content img {
  width: 100%;
}

/* Text color white */
.text-spl {
  color: chocolate;
}
/* Example CSS for BenefitsSection */

.isection {
  padding: 40px;
  background-color: #f8f9fa; /* Light gray background color */
  border-radius: 8px;
}

h2 {
  text-align: center;
  color: #007bff; /* Blue color for heading */
}

.benefits-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.benefit {
  max-width: 300px;
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 0 10px;
}

h3 {
  color: #28a745; /* Green color for benefit titles */
}

p {
  color: #333; /* Dark text color */
}

@media (max-width: 767px) {
  .benefits-container {
    flex-direction: column;
    align-items: center; /* Optional: Center the items in the column */
  }

  .benefit {
    margin: 0 0 20px; /* Add margin at the bottom for space between items */
  }
}
a {
  cursor: pointer;
}