.main-banner {
  background-color: #007bff; /* Primary color */
  color: white;
  padding: 5rem 0;
  text-align: center;
}

.main-banner h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.main-banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.main-banner .btn-light {
  color: #007bff;
  background-color: #fff;
  border-color: #fff;
}

.main-banner .btn-light:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.main-banner img {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
